<div class="container">
    <div class="posts" *ngFor="let post of AllPosts">
        <div class="post">
            <h3>{{post.titulo}}</h3>
            <p>{{post.texto}}</p>
            <img [src]="post.imagen" alt="">
            <div class="otrosdatos">
                <p>{{post.fecha}}</p>
                <p>{{post.autor}}</p>
                <p>{{post.categoria}}</p>

            </div>
        </div>
        <select name="" id="">Categoria
            <option value=""></option>
        </select>

    </div>
</div>