<div class="container">
    <form action="">
        <div class="mb-3">
            <label class="form-label">titulo del Post</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Escribe aqui...</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Autor</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">categoria</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Fecha</label>
            <input type="date" class="form-control">
        </div>
        <input type="submit" value="">
    </form>
</div>