/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;

}

body {
    background-image: url(https://images.unsplash.com/photo-1586204712758-6c50443844c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-attachment: fixed;

}